.common-input-box {
    position: relative;
    width: 90%;
    /* border: 5px solid red; */
    border-radius: 10px;
}

.common-input-box input {
    outline: none;
    color: var(--Dark-grayish-blue);
    background-color: transparent;
    padding: .5rem  1rem; 
    /* border: 1px solid var(--Grayish-blue); */
    border: 1px solid hsl(233, 8%, 60%);;
    border-radius: 10px;
    width: 100%;
    /* box-shadow: 1px 2px 4px rgba(222, 217, 217, 0.35); */
}
.common-input-box input:focus{
    border: 1.5px solid var(--Rich-black) ;
}


.common-input-box label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: var(--cadet-blue);
    pointer-events: none;
    font-size: .95rem;
    /* transition: 150ms cubic-bezier(.4, 0, .2, .1) ; */
    transition: 0.3s ease-in-out;
}
.common-input-box input:focus ~ label,
.common-input-box input:valid ~ label {
    transform: translate(0,-1.20rem) scale(.8);
    color: var(--Off-white);
    padding: 0 10px;
    /* background: #63a6a3; */
    background: #9AB7B0;
    border-radius: 10px;
    letter-spacing: 0.1em;
}
